# The MIT License.
# Copyright (C) 2017 The Future Shell , DeathSec.
#
# @filename    : MANIFEST.IN
# @description : Things that I want to avoid and include in the
# 		 python package.

exclude .gitignore
exclude ./Instagram-Py/__pycache__
exclude ./Instagram-Py/colors/__pycache__
exclude .coverage
exclude preview.png
exclude .travis.yml
include README.rst
include setup.cfg
prune .cache
prune .git
prune build
prune dist
recursive-exclude *.egg-info *
recursive-exclude examples *
recursive-exclude observations *
